.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    float: right;
    margin-top:20px;
}

li {
    float: left;
    display: inline;
    padding-right: 40px;
}

h1 {
    font-family: 'Poppins';
    font-size: 50px;
    text-align: center;
    margin-right: auto;
margin-left:auto;
}
p {
    font-family: 'Arial';
    margin-top:5px;
}
.full {
    float:left;
    width: 200px;
    margin-top:20px;
}

.phone {
    float: left;
    width: 500px;
}

.btn {
    background-color: #42b622;
}

.btn:hover {
background-color: rgba(10, 99, 24, 3);
}

.carrot {
    width: 100px;
    margin:auto;
    display: block;
}

h2 {
    padding-top: 10px;
    font-family: 'Poppins';

font-size: 17px;
}

footer {
    padding-top: 30px;
}
